${entity} entity = new ${entity}();

#foreach( $field in $fields )
    entity.set${field.name}(getRandom${field.type}());
#end

${type} type = mapper.toType(entity);
#foreach( $field in $fields )
    assertEquals(entity.get${field.name}(), type.get${field.name}());
#end
